@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'select2';
@import 'select2-bootstrap';

.navbar-inverse .navbar-btn {
  background-color: #222222;
  border-color: #333333;
  color: #999999;
}

.navbar-inverse .navbar-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

.select-option-with-depth-0 {
  padding-left: 0px;
  font-weight: bold;
  font-size: medium;
}

.select-option-with-depth-1 {
  padding-left: 15px;
  font-size: small;
  font-style: italic;
}

.select-option-with-depth-2 {
  padding-left: 30px;
  font-size: small;
}

.fa-grey {
  color: grey;
}

.posts {

  h6 {
    color: grey;
  }

  .category {
    color: grey;
    font-style: italic;
  }

  .tags-box {
    color: grey;
    font-style: italic;
    font-size: small;
  }

  .comments-count {

    a {
      color: grey;
      font-size: 90%;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }

  }

  .body-box {
    font-size: 90%;
    white-space: pre-wrap;
    margin: 0 10px 0 10px;
  }

  .post-actions {

    margin-left: 5px;
    position: absolute;
    right: 10px;

    a {
      padding-left: 0px;
    }
  }

  hr {
    margin-bottom: 0;
  }

  #comments {
    margin-top: 20px;

    hr {
      margin-top: 0;
    }

    #comments-count {
      font-weight: bold;
    }

    #comment-form {
       #captcha-errors {
        color: red;
        padding-left: 10px;
      }

      .submit-box {
        display: inline-block;
        float: right;
      }


      .submit-element {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
      }
    }

    .comment-container {

      font-size: 90%;

      .media-body {

        .media-heading {
          .comment-author {
            font-weight: bold;
          }

          .comment-date {
            color: grey;
          }
        }
      }
    }
  }
}
